@import "./variables.scss";

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  * {
    box-sizing: border-box;
  }

  .navbar {
    padding: 0 $line * 6;
    width: 100%;
    min-height: $line * 8;
    background: {
      image: $headerBg;
    }
    margin: 0;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .header-row {
      width: 80%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;

      .navbar-left,
      .navbar-right {
        flex-basis: 40%;
      }

      .navbar-left {
        margin: $line * .8 0 0 0;
        white-space: nowrap;

        .download-app {
          padding: 10px 40px;
          border: {
            style: none;
            radius: $line * .4;
          }
          outline: 0;
          background: {
            color: $grey;
          }
          color: $white;
          text: {
            transform: uppercase;
            align: center;
          }
          font: {
            size: 16px;
            family: $stratosMedium;
          }
          white-space: nowrap;
          transition: {
            duration: $time;
            timing-function: linear;
          }
          cursor: pointer;

          &:hover {
            background: rgba(189, 192, 207, 0.69);
            color: #fff;
            box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
          }

          &.hide {
            display: none;
          }
        }

        .lang {
          margin: 0 0 0 $line;

          span {
            padding: 0 $line / 2 0 0;
            color: $fontMain;
            font: {
              family: $stratosRegular;
              size: $line * 1.4;
            }
            transition: {
              duration: $time;
              timing-function: linear;
            }
            cursor: pointer;

            &:hover {
              color: $blue;
            }
          }
        }
      }

      .navbar-center {
        text-align: center;
      }

      .navbar-right {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        transition: {
          duration: $time;
          timing-function: linear;
        }
        cursor: pointer;

        &:hover {
          opacity: 0.8;
        }

        span {
          font: {
            family: $stratosMedium;
          }
          color: $white;
          text: {
            transform: uppercase;
          }

          &:last-of-type {
            padding: 0 $line;
          }
        }

        .profile-photo {
          img {
            width: 100%;
            //box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
          }
          border: {
            radius: 50%;
          }
        }

        &.hide {
          visibility: hidden;
        }
      }
    }

    @media screen and (max-width: 700px){
      height: $line * 20;
      padding: 0 $line;
      margin: 0;

      .header-row {
        box-sizing: content-box;
        padding: $line * 4 0 0 0 0;
        width: 100%;
        height: 100%;
        justify-content: space-between;
        align-content: center;

        .navbar-left {
          flex-basis: 70%;
        }

        .navbar-center {
          flex-basis: 20%;
        }

        .navbar-right {
          flex-basis: 80%;
        }
      }
    }
  }

  .sign {
    min-height: 100%;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: {
      image:
              linear-gradient(225deg, rgba(60, 117, 206, 0.7) 0%, rgba(107, 104, 219, 0.7) 100%),
              url("../img/234138.png");
      position: center;
      size: cover;
      attachment: fixed;
      repeat: no-repeat;
    }

    @media screen and (max-width: 470px) {
      background-size: auto;
    }

    @media screen and (min-width: 470px) and (max-width: 1024px) {
      background-size: auto;
    }

    #sign-in-form {
      position: relative;
      width: 35%;
      min-height: auto;
      background: #F4F5FF;
      box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.35);
      border-radius: 4px;
      padding: 70px 70px 90px 70px;
      margin: $line * 4 0;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
      font: {
        family: $stratosRegular;
      }
      color: #555;
      object-fit: contain;

      @media screen and (max-width: 700px){
        width: 90%;
        padding: $line * 4 $line * 2;
      }

      @media screen and (max-width: 1024px) {
        width: 90%;
        padding: $line * 8 $line * 2 $line * 10 $line * 2;
      }

      .form-caption {
        font: {
          size: $line * 1.6;
          family: $stratosMedium;
        }
        color: $fontBlack;
      }

      #sign-in-submit {
        display: none;

        + label {
          position: absolute;
          bottom: $line * -2.5;
          padding: $line * 1.5 $line * 8.5;
          margin-bottom: 0;
          font: {
            family: inherit;
            weight: normal;
            size: $line * 1.6;
          }
          line-height: 1.42857143;
          text: {
            align: center;
            transform: uppercase;
          }
          white-space: nowrap;
          touch-action: manipulation;
          cursor: pointer;
          background: {
            image: $btnBg;
          }
          color: $white;
          border: 1px solid transparent;
          border-radius: 4px;

          span {
            font: {
              size: inherit;
              family: $ico;
            }
          }
        }
      }

      input {
        margin: 0 0 $line 0;
        background: {
          color: transparent;
        }
        width: 100%;
        line-height: 24px;
        padding: 6px 0;
        border: none;
        outline: none;
        border-bottom: 1px solid rgba(0,0,0,0.42);
        transition: $time linear;

        &::placeholder {
          color: #8c8e9c;
        }

        &:focus {
          border-bottom: 1px solid rgba(0, 0, 0, 0.9);
        }
      }
    }

    #sign-up-form {
      position: relative;
      box-sizing: border-box;
      width: 33%;
      background: #F4F5FF;
      box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.35);
      border-radius: 4px;
      margin-bottom: $line * 4;
      align-self: center;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      align-content: space-between;
      flex-direction: column;
      padding: 70px 70px 90px 70px;
      margin-top: $line * 3;
      height: $line * 60;
      max-height: 200%;

      .sign-up-name {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin: 0 0 $line 0;
        padding: $line * 2 0 $line * 1.2 0;

        input {
          background: {
            color: transparent;
          }
          width: 48%;
          line-height: 24px;
          border: none;
          outline: none;
          border-bottom: 1px solid rgba(0,0,0,0.42);
          transition: $time linear;

          &::placeholder {
            color: #8c8e9c;
          }

          &:focus {
            border-bottom: 1px solid rgba(0, 0, 0, 0.9);
          }
        }
      }

      * {
        box-sizing: border-box;
      }

      input {
        margin: 0 0 $line 0;
        background: {
          color: transparent;
        }
        width: 100%;
        line-height: 24px;
        padding: 6px 0;
        border: none;
        outline: none;
        border-bottom: 1px solid rgba(0,0,0,0.42);
        transition: $time linear;

        &::placeholder {
          color: #8c8e9c;
        }

        &:focus {
          border-bottom: 1px solid rgba(0, 0, 0, 0.9);
        }
      }

      #sign-up-submit {
        display: none;

        + label {
          position: absolute;
          bottom: $line * -2.5;
          padding: $line * 1.5 $line * 8.5;
          margin-bottom: 0;
          font: {
            family: inherit;
            weight: normal;
            size: $line * 1.6;
          }
          line-height: 1.42857143;
          text: {
            align: center;
            transform: uppercase;
          }
          white-space: nowrap;
          touch-action: manipulation;
          cursor: pointer;
          background: {
            image: $btnBg;
          }
          color: $white;
          border: 1px solid transparent;
          border-radius: 4px;

          span {
            font: {
              size: inherit;
              family: $ico;
            }
          }
        }
      }

      label:first-of-type, label:nth-of-type(2) {
        width: 100%;
        color: #8c8e9c;
        font: {
          size: $line * 1.4;
          family: $stratosRegular;
          weight: normal;
        }
      }

      @media screen and (max-width: 470px) {
        width: 90%;
        height: $line * 120;
        padding: $line * 2 $line * 2 $line * 6 $line * 2;
      }
    }

    .sign-in-with-socials {

      button {
        border: none;
        background: transparent;
        outline: none;
        cursor: pointer;
        padding: 0 $line * .2;
        transition: $time linear;

        img {
          width: 100%;
          opacity: 0.4;
        }

        &:hover {
          img {
            opacity: 1;
          }
        }
      }
    }

    .switch-link {
      margin-top: $line;
      color: $white;
      border: none;
      outline: none;
      background: transparent;
      font: {
        family: $stratosMedium;
        size: $line * 1.4;
        weight: normal;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }

  main {
    padding: $line * 5 0 0 0;
    width: 75%;
    min-height: 80%;
    height: 100%;
    max-height: inherit;

    .create-task-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;

      .new-task {
        align-self: flex-end;
        background: {
          color: $blue;
          image: linear-gradient(68deg, #6B68DB 0%, #3C75CE 95%);
        }
        border: none;
        outline: none;
        border-radius: 4px;
        box-shadow: 0 10px 30px 0 rgba(156,162,188,0.75);
        font: {
          family: $stratosMedium;
          size: $line * 1.6;
        }
        color: $white;
        text-transform: uppercase;
        padding: 19px 61px;
        transition: {
          duration: $time;
          timing-function: linear;
        }
        cursor: pointer;

        &:hover {
          background: #3C75CE;
          color: #fff;
          box-shadow: 0 5px 10px 0 rgba(156,162,188,0.75);
        }
      }

      .main-container {
        margin-top: $line * 2;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-content: space-between;
        flex-wrap: wrap;

        .verification-type {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          align-content: space-between;
          flex-basis: 48.5%;
          min-height: $line * 15;
          border-radius: $line;
          margin-bottom: $line * 2;
          padding: $line * 1.5 $line * 1.5 $line;
          background: {
            size: 35%;
            color: white;
            image: url("../img/card_decor_gr.svg");
            repeat: no-repeat;
            position-x: 105%;
          }
          box-shadow: 0 $line $line * 3 0 rgba(156,162,188,0.55);
          color: #9CA2BC;
          transition: {
            duration: $time;
            timing-function: linear;
          }
          cursor: pointer;

          &:hover {
            box-shadow: 0 5px 20px 0 rgba(156,162,188,0.35);
          }

          .verification-name {
            flex-basis: 70%;
            margin: 0;
            padding: 0;
            color: $fontBlack;
            font: {
              size: $line * 2.4;
              family: $stratosMedium;
            }
            white-space: nowrap;
          }

          .verification-state {
            align-self: center;
            color: $white;
            background: $grey;
            text-transform: uppercase;
            font: {
              family: $stratosBold;
              size: $line * 1.1;
            }
            padding: 3px 10px 2px;
            border-radius: 4px;
          }

          .verification-desc {
            flex-basis: 100%;
            text-overflow: ellipsis;
            margin: 5px 0;
            font: {
              family: $stratosRegular;
              size: $line * 1.4;
            }
            color: $fontMain;
          }

          .verification-city {
            font: {
              family: $stratosRegular;
              size: $line * 1.4;
            }
            color: #BDC0CF;

            span {
              font: {
                family: $ico;
                size: $line * 1.6;
                weight: bold;
              }
            }
          }

          .verification-details {
            display: none;
            position: fixed;
            z-index: 1;
            background: {
              color: black;
            }
          }
        }
      }

      @media screen and (max-width: 470px) {
        .new-task {
          width: 100%;
        }

        .main-container {
          flex-direction: column;

          .verification-type {
            width: 100%;
          }
        }
      }
    }

    .profile {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;
      width: 100%;
      height: 100%;
      min-height: 100%;
      max-height: inherit;

      .profile-top {
        width: 100%;
        height: $line * 12;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        .user-info {
          height: 70%;
          flex-basis: 70%;
          display: flex;
          flex-wrap: nowrap;
          justify-content: flex-start;
          align-items: center;

          .profile-photo {
            width: $line * 6.5;
            height: $line * 6.5;
          }

          .user-data {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            padding: 0 $line * 1.5;

            #profile-id, #profile-name {
              box-sizing: border-box;
              background: {
                color: transparent;
              }
              border: none;
              outline: none;
              width: 100%;
            }

            #profile-name {
              font: {
                family: $stratosBlack;
                size: $line * 3.5;
              }
              color: #000;
              letter-spacing: $line * .1;
              line-height: $line * 3;
              text-transform: uppercase;
              max-height: 60%;

              &::placeholder {
                color: #000;
              }
            }

            #profile-id {
              font: {
                family: $stratosMedium;
                size: $line * 1.6;
              }
              color: $grey;
              max-height: 40%;
            }
          }
        }

        .back-to-main {
          padding: $line * 2 $line * 6;
          background: #BDC0CF;
          border: 0 none;
          border-radius: 4px;
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.29);
          color: #fff;
          text-transform: uppercase;
          font: {
            family: $stratosMedium;
            size: $line * 1.6;
          }
          padding: $line * 2 $line * 6;
          outline: none;
          cursor: pointer;
          transition: {
            duration: $time;
            timing-function: linear;
          }

          &:hover, &:focus {
            background: {
              color: rgba(189, 192, 207, 0.69);
            }
            box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
          }
        }

        .profile-change-pass-btn {
          display: flex;
          align-items: center;
          justify-content: space-between;
          max-width: 100%;
          padding: $line * 1.5 0;

          .change-password-btn, .exit-profile-btn {
            @include mainBlueBtn;
          }
        }
      }

      .change-password {
        display: none;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: $line * 34;
        height: $line * 12;
        overflow: hidden;
        transition: {
          duration: $time * 2;
          timing-function: linear;
        }

        #change-pass-input {
          border: none;
          outline: none;
          border-bottom: 1px solid #D8D8D8;
          width: 100%;
          padding: $line * .6 $line * 1.2;
          margin: 0 0 $line * 2 0;
          background: {
            color: transparent;
          }
          color: #555;
          transition: {
            duration: $time;
            timing-function: linear;
          }

          &:hover, &:focus {
            border: {
              color: #4986ed;
            }
          }

          + label {
            font: {
              family: $stratosBold;
              size: $line * 1.6;
              weight: bold;
            }
            color: #9CA2BC;
          }
        }

        #change-pass-submit {
          @include mainBlueBtn;
        }

        &.active {
          display: flex;
        }
      }

      .profile-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: space-between;
        width: 100%;
        height: $line * 25;

        .task-info{
          position: relative;
          height: $line * 25;
          width: 23%;
          font: {
            family: $stratosBold;
            size: $line * 4.8;
          }
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          align-content: flex-end;
          flex-wrap: wrap;
          border: {
            radius: $line;
          }
          background: {
            image: linear-gradient(-174deg, #424653 0%, #282A31 100%);
          }
          box-shadow: 0 10px 30px 0 rgba(156,162,188,0.65);
          text-transform: uppercase;
          overflow: hidden;

          .task-index {
            display: flex;
            align-items: center;
            justify-content: center;
            align-self: center;
            width: $line * 12;
            height: $line * 12;
            border: {
              radius: $line * 20;
              width: $line;
              style: solid;
              color: #595E6E;
            }
          }

          .task-caption {
            padding: $line * 1.5 0 0 0;
            align-self: flex-end;
            flex-basis: 100%;
            text-align: center;
            font: {
              family: $stratosRegular;
              size: $line * 1.6;
              weight: normal;
            }
            color: $grey;
            white-space: nowrap;
          }

          .task-bg {
            position: absolute;
            top: 0;
            left: 0;
            width: $line * 44;
            height: $line * 32.5;
            border: {
              radius: $line * 20;
            }
          }
        }
      }

      @media screen and (max-width: 700px) {
        align-items: center;

        .profile-top {
          height: auto;

          .user-info {
            flex-basis: 100%;

            .user-data {
              flex-grow: 1;
            }
          }

          .back-to-main, .profile-change-pass-btn {
            width: 100%;
          }
        }

        .profile-change-pass-btn {
          width: 100%;
        }

        .profile-bottom {
          flex-direction: column;

          .task-info {
            height: $line * 4;
            width: 100%;
            font: {
              size: $line * 1.8;
            }
            justify-content: space-between;
            align-content: center;
            flex-wrap: nowrap;

            .task-index {
              width: 15%;
              height: auto;
              border: none;
            }

            .task-caption {
              padding: 0 0 0 0;
              align-self: center;
              flex-basis: 80%;
            }
            img {
              display: none;
            }
          }
        }
      }
    }

    .top {

    }

    .download-app {
      width: 100%;
      height: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      &::before {
        position: absolute;
        content: '';
        display: block;
        top: 40%;
        height: $line * 30;
        width: 100%;
        background: {
          image: url("../img/bg_appstore.jpg");
          attachment: fixed;
          repeat: no-repeat;
          size: 100%;
          position: center;
        }
        z-index: -1;
      }

      .download-app-caption {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        h2 {
          font: {
            family: $stratosBlack;
            size: $line * 3.5;
          }
          color: #000;
          letter-spacing: $line * .1;
          line-height: $line * 3;
          text-transform: uppercase;
        }

        .back-to-main {
          padding: $line * 2 $line * 6;
          background: #BDC0CF;
          border: 0 none;
          border-radius: 4px;
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.29);
          color: #fff;
          text-transform: uppercase;
          font: {
            family: $stratosMedium;
            size: $line * 1.6;
          }
          padding: $line * 2 $line * 6;
          outline: none;
          cursor: pointer;
          transition: {
            duration: $time;
            timing-function: linear;
          }

          &:hover, &:focus {
            background: {
              color: rgba(189, 192, 207, 0.69);
            }
            box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
          }
        }
      }

      .download-app-links {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        a {
          position: relative;
          width: 48%;
          border: {
            radius: $line * .8;
          }
          height: $line * 29.5;
          overflow: hidden;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: center;
          box-shadow: 0 5px 30px rgba(0, 0, 0, 0.29);
        }
        .android-link {
          background: {
            color: #282A31;
            image:
                    linear-gradient(-174deg, #424653 0%, #282A31 100%);
            repeat: no-repeat;
          }

          .link-bg {
            position: absolute;
            top: 0;
            left: 0;
            width: $line * 55;
            height: $line * 35;
          }
        }

        .ios-link {
          background: {
            color: rgb(244, 245, 255);
          }
          .link-bg {
            position: absolute;
            top: 0;
            left: 0;
            width: $line * 55;
            height: $line * 41;
          }
        }
      }
    }

    @media screen and (max-width: 470px){
      width: 90%;
      height: auto;
    }

    @media screen and (max-width: 1024px){
      width: 90%;
      height: auto;
    }
  }

  #background{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index: -1;
    height: 100%;

    img {
      width: 100%;
    }
  }
}