@import "./variables.scss";

.App {
  * {
    box-sizing: border-box;
    transition: {
      duration: $time;
      timing-function: linear;
    }
  }

  header {
    padding: 0 $line * 6;
    width: 100%;
    min-height: $line * 8;
    background: {
      image: $headerBg;
    }
    margin: 0;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    @import "./header.scss";
  }

  @import "./sign.scss";

  main {
    padding: $line * 5 0 0 0;
    margin: 0 auto;
    width: 75%;
    min-height: 80%;
    height: 100%;

    @import "./dashboard.scss";
    @import "./cabinet.scss";
    @import "./downloadApp.scss";
    @import "./constructor.scss";
    @import "./templatesDashboard.scss";

    @media screen and (max-width: 470px){
      width: 90%;
      height: auto;
    }

    @media screen and (max-width: 1024px){
      width: 90%;
      height: auto;
    }
  }
}