@import "./variables.scss";

body{
  line-height: 1.4;
  padding: 0;
  margin: 0;
  font: {
    family: $stratosRegular;
    size: 14px;
  }
  color:$fontMain;
  background: transparent;
  height: 100%;

  * {
    box-sizing: border-box;
  }

  #root, .App {
    width: 100%;
    height: inherit;
  }

  #root {
    .App {
      .navbar {
        position: fixed;
        top: 0;
        left: 0;
        padding: $line 12%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: {
          image: $headerBg;
        }

        .navbar-left {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .download-app {
            padding: $line * 1.1 $line * 6;
            margin: 0 $line * 2 0 0;
            border: {
              style: none;
              radius: $line * .4;
            }
            outline: 0;
            background: {
              color: $grey;
            }
            color: $white;
            text: {
              transform: uppercase;
              align: center;
            }
            font: {
              size: $line * 1.6;
              family: $stratosMedium;
            }
            transition: {
              duration: $time;
              timing-function: linear;
            }
            cursor: pointer;

            &:hover {
              background: rgba(189, 192, 207, 0.69);
              color: #fff;
              box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
            }
          }

          .lang {
            span {
              padding: 0 $line / 2;
              color: $fontMain;
              font: {
                family: $stratosRegular;
                size: $line * 1.4;
              }
              transition: {
                duration: $time;
                timing-function: linear;
              }
              cursor: pointer;

              &:hover, &:active {
                color: $blue;
              }
            }
          }
        }

        .logo {
          flex-grow: 1;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .navbar-right {
          display: flex;
          align-items: center;
          justify-content: space-around;
          transition: {
            duration: $time;
            timing-function: linear;
          }
          cursor: pointer;

          &:hover {
            opacity: 0.8;
          }

          span {
            padding: 0 $line * .5 0 0;
            font: {
              family: $stratosMedium;
            }
            color: $white;
            text: {
              transform: uppercase;
            }
          }
        }
      }

      #background{
        position:fixed;
        top:0;
        left:0;
        width:100%;
        z-index: -1;
        height: 100%;

        img {
          width: 100%;
        }
      }
    }
  }
}