@import "./variables.scss";

.constructor {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .constructor-top {
    width: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      @include blackCaption;
    }

    .back-to-main {
      @include greyBtn;
    }
  }

  .constructor-form {
    width: 98%;
    border: {
      radius: $line;
      style: none;
    }
    margin: $line * 5 0;
    box-shadow: 0 $line $line * 3 0 rgba(156,162,188,0.55);
    background: {
      color: white;
    }
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: $line * 2 $line * 4;

    .task-caption {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      align-content: space-between;

      h3 {
        @include blackCaption;
        width: 80%;
      }

      .task-title {
        font: {
          family: $ico;
          size: $line * 2.4;
        }
        color: $fontMain;
        background: {
          color: transparent;
        }
        border: none;
        outline: none;
      }

      #task-name {
        margin: $line * 4 0 0 0;
        @include input;
      }
    }

    .text-input, .image-input, .video-input {
      width: 100%;
      margin: $line * 4 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      .input-caption {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        align-content: space-between;

        .input-info {
          flex-grow: 1;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-start;

          h2 {
            @include blackCaption;
          }

          .remove-btn {
            border: none;
            outline: none;
            background: {
              color: transparent;
            }
            color: $fontMain;
            font: {
              family: $ico, $stratosMedium;
              size: $line * 1.6;
            }

            &:hover {
              color: $red;
            }
          }
        }

        .input-types {
          width: $line * 22;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: flex-start;
          align-content: space-between;

          .type {
            width: 80%;
            font: {
              family: $stratosMedium;
              size: $line * 1.5;
            }
            color: $fontMain;

            span {
              color: $blue;
            }
          }

          .task-title {
            font: {
              family: $ico;
              size: $line * 2.4;
            }
            color: $fontMain;
            background: {
              color: transparent;
            }
            border: none;
            outline: none;
          }

          .available-types {
            width: 100%;
            margin: $line / 2 0 0 0;

            .input-type {
              background: {
                color: #F5F5FF;
              }
              border: {
                radius: $line * .4;
                style: none;
              }
              outline: none;
              color: #BDC1CD;
              font: {
                family: $ico, $stratosMedium;
                size: $line * 2.5;
              }
              margin: 0 $line / 2;
              padding: $line * 1.7;
              text-align: center;
              cursor: pointer;
              transition: {
                duration: $time;
                timing-function: linear;
              }

              &:hover, &.active {
                background: {
                  color: $blue;
                  image: linear-gradient(68deg, #6B68DB 0%, #3C75CE 95%);
                }
                box-shadow: 0 10px 30px 0 rgba(156,162,188,0.75);
                color: white;
              }
            }
          }
        }
      }

      .input-fields {
        margin: $line * 6 0 0 0;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        align-content: space-between;

        input {
          @include input;
        }
      }
    }

    .text-input, .video-input {
      .input-fields {
        input {
          width: 47%;
        }
      }
    }

    .image-input {
      .input-fields {
        input {
          width: 31%;
        }
      }
    }

    .footer {
      width: 100%;
      margin: $line * 4 0 0 0;
      padding: $line * 3 $line * 4;
      background: {
        color: #F8F8F2;
      }
      border: {
        radius: $line * .4;
      }
      display: flex;
      align-items: center;

      .footer-text {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;

        h2 {
          @include blackCaption;
          padding: 0;
          margin: 0 0 $line / 2 0;
        }

        .current-type {
          font: {
            family: $stratosMedium;
            size: $line * 1.5;
          }
          color: $fontMain;

          span {
            color: $blue;
          }
        }
      }

      .available-types {
        margin-right: $line * 2;

        .type-select {
          background: {
            color: #F5F5FF;
          }
          border: {
            radius: $line * .4;
            style: none;
          }
          outline: none;
          color: #BDC1CD;
          font: {
            family: $ico, $stratosMedium;
            size: $line * 2.5;
          }
          margin: 0 $line / 2;
          padding: $line * 1.7;
          text-align: center;
          cursor: pointer;
          transition: {
            duration: $time;
            timing-function: linear;
          }

          &:hover, &.active {
            background: {
              color: $blue;
              image: linear-gradient(68deg, #6B68DB 0%, #3C75CE 95%);
            }
            box-shadow: 0 10px 30px 0 rgba(156,162,188,0.75);
            color: white;
          }
        }
      }

      .add-input {
        @include greyBtn;
      }
    }
  }
}

.constructor-required {
  text-align: right;

  .caption {
    text-align: left;
    @include blackCaption;
  }

  form {
    width: 98%;
    border: {
      radius: $line;
      style: none;
    }
    margin: $line * 5 auto;
    box-shadow: 0 $line $line * 3 0 rgba(156,162,188,0.55);
    background: {
      color: white;
    }
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: $line * 2 $line * 4;

    .field-set {
      width: 100%;
      margin: $line * 2 0;
      display: flex;
      border: none;
      justify-content: space-between;

      label {
        display: flex;
        align-items: center;
        color: black;
        font: {
          family: $stratosMedium;
          size: $line * 1.6;
        }
      }

      &.names {
        #f {
          display: none;

          + label {
            flex-basis: 30%;
            min-width: 30%;

            &::before {
              content: "◘";
              margin: 0 $line 0 0;
              font: {
                family: $ico;
                size: $line * 2.5;
              }
              color: $blue;
            }
          }

          &:checked {
            + label::before {
              content: "○";
            }
          }
        }

        input[type="text"] {
          @include input;
          max-width: 20%;
          margin: 0 $line 0;

          &:first-of-type {
            margin: 0 $line 0 $line * 2;
          }

          &:last-of-type {
            margin: 0 0 0 $line;
          }
        }
      }

      &.date {
        label {
          &:first-of-type {
            flex-basis: 30%;
            min-width: 30%;
          }
        }

        input {
          @include input;
          max-width: 20%;
          margin: 0 $line 0;

          &:first-of-type {
            margin: 0 $line 0 $line * 2;
          }

          &:last-of-type {
            margin: 0 0 0 $line;
          }
        }
      }

      &.address {
        label {
          flex-basis: 30%;
          min-width: 30%;
        }

        input {
          @include input;
          margin: 0 0 0 $line * 2;
        }
      }

      &.price {
        justify-content: space-between;

        label {
          flex-basis: 30%;
          min-width: 30%;

          .value {
            margin: 0 0 0 $line;
            color: $blue;
          }
        }

        #price {
          -webkit-appearance: none;
          width: 100%;
          background: transparent;
          margin: 0 0 0 $line * 2;

          &:focus {
            outline: none;
          }

          &::-ms-track {
            width: 100%;
            cursor: pointer;
            background: transparent;
            border-color: transparent;
            color: transparent;
          }

          &::-webkit-slider-thumb {
            -webkit-appearance: none;
            width: $line * 4;
            height: $line * 4;
            margin: $line * -1.9 0 0 0;
            background: linear-gradient(68deg, #6B68DB 0%, #3C75CE 95%), $blue;
            border: $line / 5 solid white;
            border-radius: 50%;
            box-shadow: 0 0 $line * 2 0 $fontMain;
            cursor: pointer;

            transition: {
              duration: $time;
              timing-function: linear;
            }

            &:hover {
              box-shadow: 0 0 $line 0 $fontMain;
              background: $blue;
            }
          }

          &::-webkit-slider-runnable-track {
            width: 100%;
            height: $line / 5;
            cursor: pointer;
            background: $fontMain;
            border-radius: $line / 5;
          }

          &::-webkit-media-slider-thumb {
            background: black;
          }
        }
      }

      &.comment {

        textarea {
          @include input;
          background: {
            color: lighten($grey, 20%);
          }
          resize: none;
          padding: $line * 2;
          border: {
            top-right-radius: $line;
            top-left-radius: $line;
          }
          font: {
            size: $line * 1.5;
          }
        }
      }

      &.buttons {
        width: 50%;
        justify-content: space-around;

        button {
          @include greyBtn;
        }
      }
    }
  }

  #constructor-submit {
    display: none;

    + label {
      @include mainBlueBtn;
      display: inline-block;
      margin: 0 $line * 6 $line * 4;
      padding: $line * 2 $line * 4;
      box-sizing: border-box;
    }
  }
}