@import "./variables.scss";

.create-task-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  .new-task {
    align-self: flex-end;
    background: {
      color: $blue;
      image: linear-gradient(68deg, #6B68DB 0%, #3C75CE 95%);
    }
    border: none;
    outline: none;
    border-radius: 4px;
    box-shadow: 0 10px 30px 0 rgba(156,162,188,0.75);
    font: {
      family: $stratosMedium;
      size: $line * 1.6;
    }
    color: $white;
    text-transform: uppercase;
    padding: 19px 61px;
    transition: {
      duration: $time;
      timing-function: linear;
    }
    cursor: pointer;

    &:hover {
      background: #3C75CE;
      color: #fff;
      box-shadow: 0 5px 10px 0 rgba(156,162,188,0.75);
    }
  }

  .main-container {
    position: relative;
    margin-top: $line * 2;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;

    .verification-type {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: space-between;
      flex-basis: 48.5%;
      min-height: $line * 15;
      border-radius: $line;
      margin-bottom: $line * 2;
      padding: $line * 1.5 $line * 1.5 $line;
      background: {
        size: 35%;
        color: white;
        image: url("../img/card_decor_gr.svg");
        repeat: no-repeat;
        position-x: 105%;
      }
      box-shadow: 0 $line $line * 3 0 rgba(156,162,188,0.55);
      color: #9CA2BC;
      transition: {
        duration: $time;
        timing-function: linear;
      }
      cursor: pointer;

      &:hover {
        box-shadow: 0 5px 20px 0 rgba(156,162,188,0.35);
      }

      .verification-name {
        flex-basis: 70%;
        margin: 0;
        padding: 0;
        color: $fontBlack;
        font: {
          size: $line * 2.4;
          family: $stratosMedium;
        }
        white-space: nowrap;
      }

      .verification-state {
        align-self: center;
        color: $white;
        background: $grey;
        text-transform: uppercase;
        font: {
          family: $stratosBold;
          size: $line * 1.1;
        }
        padding: 3px 10px 2px;
        border-radius: 4px;
      }

      .verification-desc {
        flex-basis: 100%;
        text-overflow: ellipsis;
        margin: 5px 0;
        font: {
          family: $stratosRegular;
          size: $line * 1.4;
        }
        color: $fontMain;
      }

      .verification-city {
        font: {
          family: $stratosRegular;
          size: $line * 1.4;
        }
        color: #BDC0CF;

        span {
          font: {
            family: $ico;
            size: $line * 1.6;
            weight: bold;
          }
        }
      }

      .verification-details {
        position: fixed;
        top: 0;
        left: 0;
        padding: 0;
        margin: 0;
        display: none;
        width: 100%;
        height: 100%;
        background: {
          color: transparentize(black, 0.2);
        }
        align-items: center;
        justify-content: center;
        z-index: -1;
        cursor: default;

        .details-box {
          width: 75%;
          min-height: $line * 25;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: flex-start;
          align-content: space-between;
          position: absolute;
          background: {
            color: #F4F5FF;
            image: url("../img/bg_appstore.jpg");
            size: 100% $line * 30;
            repeat: no-repeat;
            position-x: 100%;
          }
          margin: auto;
          padding: $line * 3;
          border-radius: $line;
          cursor: default;
          overflow: hidden;
          box-shadow: 0 10px 30px 0 rgba(12, 12, 12, 0.55);

          * {
            z-index: 10;
          }

          .details-name {
            flex-basis: 60%;
            margin: 0;
            padding: 0;
            color: $fontMain;
            font: {
              size: $line * 2.4;
              family: $stratosMedium;
            }
            white-space: nowrap;
          }

          .details-state {
            align-self: center;
            color: $white;
            background: $grey;
            text-transform: uppercase;
            font: {
              family: $stratosBold;
              size: $line * 1.1;
            }
            padding: 3px 10px 2px;
            border-radius: 4px;
          }

          .details-desc, .details-required {
            flex-basis: 100%;
            text-overflow: ellipsis;
            margin: $line 0;
            font: {
              family: $stratosRegular;
              size: $line * 1.6;
            }
            color: $fontMain;
          }

          .details-required {
            margin-bottom: $line * 2;

            span {
              margin: 0 0 0 $line * 2;
              color: $blue;
              font: {
                weight: bold;
              }
            }
          }

          .details-user-info {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;

            .user-info {
              display: flex;
              flex-wrap: wrap;
              justify-content: flex-start;
              align-items: center;
              align-content: flex-start;
              font: {
                family: $stratosBold;
                size: $line * 1.6;
              }
              color: $fontMain;

              div {
                display: flex;
                justify-content: space-between;
                align-items: center;


                span:nth-of-type(odd) {
                  padding: $line / 2;
                }

                span:nth-of-type(even) {
                  color: black;
                  padding: $line / 2;
                }
              }

              &:last-of-type {
                padding: 0 $line / 2;
                font: {
                  family: $ico, $stratosBold;
                }
              }
            }
          }

          &::before {
            content: '';
            position: absolute;
            top: 0;
            left: $line * -15;
            width: 100%;
            height: $line * 70;
            background: rgba(244, 245, 255, 0.76);
            z-index: 1;
            transform: rotate(45deg);
          }

          &::after {
            content: '';
            position: absolute;
            top: 0;
            left: $line * -30;
            width: 100%;
            height: $line * 90;
            background: #F4F5FF;
            z-index: 1;
            transform: rotate(45deg);
          }
        }

        &.pop-up-active {
          display: flex;
          z-index: 100;
        }
      }
    }
  }

  @media screen and (max-width: 470px) {
    .new-task {
      width: 100%;
    }

    .main-container {
      flex-direction: column;

      .verification-type {
        width: 100%;
      }
    }
  }
}