$line: 10px;
$time: 0.2s;

@import "../fonts/font-faces.scss";

// Colors
$blue: #337ab7;
$grey: #BDC0CF;
$fontBlack: #282A31;
$white: #fff;
$fontMain: #9CA2BC;
$headerBg: linear-gradient(174deg, #424653 0%, #282A31 100%);
$btnBg: linear-gradient(-174deg, #424653 0%, #282A31 100%);

// Mixins
@mixin mainBlueBtn() {
  background: {
    color: #3C75CE;
    image: linear-gradient(68deg, #6B68DB 0%, #3C75CE 95%);
  }
  border: 0 none;
  outline: none;
  border-radius: $line / 2.5;
  box-shadow: 0 $line $line * 3 0 rgba(156,162,188,0.75);
  color: #fff;
  text-transform: uppercase;
  font: {
    family: $stratosMedium;
    size: $line * 1.6;
  }
  padding: $line $line * 4;
  margin: 0 $line 0 0;
  transition: {
    duration: $time;
    timing-function: linear;
  }
  cursor: pointer;
  white-space: nowrap;

  &:hover {
    background: {
      image: none;
    }
    color: #fff;
    box-shadow: 0 $line / 2 $line 0 rgba(156,162,188,0.75);
  }
}
